---
layout: default

---
{% assign themeYear = site.content_year %}
{% assign allThemes = site.data.contentful.theme.theme | where: 'year', themeYear %}

{% assign currentOrder = page.order %}

{% assign lastTheme = allThemes | sort: "order" | last %}
{% assign lastOrder = lastTheme.order %}

{% assign previousOrder = currentOrder | minus: 1 %}
{% assign previousTheme = allThemes | where: "order", previousOrder  %}

{% assign nextOrder = currentOrder | plus:1 %}
{% assign nextTheme = allThemes | where: "order", nextOrder  %}

<main role="main" class="criteria">
  <section class="top-section">
    <div class="row align-center">
      <div class="column large-8 medium-8 small-12">
        <h1>{{themeYear}} Blueprint</h1>
        <hr>
        <h2>{{page.title}}</h2>
      </div>
    </div>
  </section>

  <section class="section section__explanation">
    <div class="row align-center">
      <div class="column large-10 markdown">
        <h3 class="example__title--leading">Rationale</h3>
        {{ page.rationale | markdownify }}
      </div>
    </div>
  </section>

  {% for strategy in page.strategies %}
    <section class="section section__description">
      <div class="row align-center">
        <div class="column large-10 markdown">
          <h3 id="{{strategy.title | remove: " "}}">{{ strategy.title }}</h3> {{ strategy.short_description | markdownify }}
        </div>
      </div>
    </section>
    <section class="section section__description">
      <div class="row align-center">
        <div class="column large-10 markdown">
          <h5>Actions:</h5>
          <ul>
          {% for action in strategy.actions %}
            {% for a in site.data.contentful.action.action %}
              {% if a.sys.id == action.sys.id %}
                <li>{{ a.description | markdownify }}</li>
                {% if a.sub_description %}
                  <li>{{ a.sub_description | markdownify }}</li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    <section class="table examples-grid">
      <!-- examples-grid header -->
      <div class="row examples-grid__header fixed-section " style="max-width:62.5rem">
        <div class="row examples-grid__header-row">
          <!-- header columns  -->
          <div class="column examples-grid-column examples-grid__header-cell dark-blue">Blueprint Strategies in Practice</div>
        </div>
      </div>
    </section>

    <section class="js-active-key slide-panel__wrapper--compact fixed-section-wrapper">
      <div class="content-section">

        <!-- grid content -->
        {% for example in strategy.examples %}
        <div class="row examples-grid__content-row criteria" style="max-width:62.5rem">
          <!-- content columns  -->
            {% for e in site.data.contentful.example.example %}
              {% if e.sys.id == example.sys.id %}
                <div class="column examples-grid-column examples-grid__content-cell light-green title" style="width:40%; max-width: 40%">
                  <div class="theme-link">{{ e.state | markdownify }}</div>

                </div>

                <div class="column examples-grid-column examples-grid__content-cell light-green leading filterable" style="width:60%; max-width: 60%">
                  <!-- Leading issues -->
                  <div class="examples-wrapper leading-example">
                    <div class="row">
                      <div class="description column large-12">
                        {{ e.description | markdownify }}
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
      </div>
    </section>
  {% endfor %}


  {% include mobile-index.html %}

  <section class="section criteria__nav">
   <div class="row">
     <div class="column small-12 medium-6 large-6 criteria__nav--previous">
       {% unless currentOrder == 1%}
         {% assign previous_url = previousTheme[0].title | replace: "/", "0000" | slugify | remove: "0000" | append: '.html' | prepend: '/theme/' | relative_url %}
         <a href="{{previous_url}}" ><i class="material-icons">arrow_back</i>Previous Theme</a>
       {%endunless%}
     </div>
     <div class="column small-12 medium-6 large-6 criteria__nav--next">
       {% unless currentOrder == lastOrder %}
         {% assign next_url = nextTheme[0].title | replace: "/", "0000" | slugify | remove: "0000" | append: '.html' | prepend: '/theme/' | relative_url %}
         <a href="{{next_url}}">Next Theme<i class="material-icons">arrow_forward</i></a>
       {%endunless%}
     </div>
   </div>
 </section>

</main>
