---
layout: default

---
{% assign themeYear = site.content_year %}
{% assign allThemes = site.data.contentful.theme.theme | where: 'year', themeYear %}

{% assign currentOrder = page.order %}

{% assign lastTheme = allThemes | sort: "order" | last %}
{% assign lastOrder = lastTheme.order %}

{% assign previousOrder = currentOrder | minus: 1 %}
{% assign previousTheme = allThemes | where: "order", previousOrder  %}

{% assign nextOrder = currentOrder | plus:1 %}
{% assign nextTheme = allThemes | where: "order", nextOrder  %}
<a name="top"></a>
<main role="main" class="criteria">
  <section class="top-section">
    <div class="row align-center" style="max-width:85rem;align-items:center">
        <div class="column small-3 criteria__nav--previous">
         {% unless currentOrder == 1%}
           {% assign previous_url = previousTheme[0].title | replace: "/", "0000" | slugify | remove: "0000" | append: '.html' | prepend: '/theme/' | relative_url %}
           <a class="top-theme-arrow" href="{{previous_url}}" ><i class="material-icons">arrow_back</i>{{ previousTheme[0].title }}</a>
         {%endunless%}
       </div>

        <div class="column small-6">
        <div class="media-object">
          <div class="media-object-section">
            <div class="thumbnail">
              <img class="theme-img" alt="Roadmap" src={{page.icon.url}} />
            </div>
          </div>
          <div class="media-object-section main-section">
            <h2>{{page.title}}</h2>
          </div>
        </div>
        </div>

        <div class="column small-3 criteria__nav--next">
         {% unless currentOrder == lastOrder %}
           {% assign next_url = nextTheme[0].title | replace: "/", "0000" | slugify | remove: "0000" | append: '.html' | prepend: '/theme/' | relative_url %}
           <a class="top-theme-arrow" href="{{next_url}}">{{ nextTheme[0].title }}<i class="material-icons">arrow_forward</i></a>
         {%endunless%}
       </div>
    </div>
      <div class="button-container button--back button-container--align-left row">
        <a tabindex="0" class="button button--index" href="{{'/' | relative_url}}"><span>Back to<br>Blueprint Summary</span></a>
      </div>
  </section>

  <section class="section section__explanation">
    <div class="expandable">
      <div class="row align-center">
        <div class="column large-10 markdown">
          {{ page.rationale | markdownify }}
        </div>
      </div>
      <div class="row align-center">
        <div class="column large-11 read-more-wrapper">
          <button class="read-more" aria-label="Read More Toggle"></button>
        </div>
      </div>
    </div>
  </section>

<div class="row align-center" style="margin-bottom: 3rem">
  <div class="column small-11 markdown">
    <h3 class="example__title--leading" style="margin-top: 0">Blueprint Strategies for Delivering Results</h3>
  </div>
  <div class="column small-12 small-padding-0 markdown">
  {% for strategy in page.strategies %}
    <button class="accordion" id="{{strategy.title | remove: " "}}"><h5>{{strategy.title}}: {{ strategy.short_description | slice: 3, strategy.short_description.size | markdownify }}</h5><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
    <div class="panel">
      <section class="section section__actions" style="margin-bottom:3rem">
        <div class="row align-center">
          <div class="column large-10 markdown">
            <h5 style="margin-top: 0">Actions:</h5>
            <ul>
            {% for action in strategy.actions %}
              {% for a in site.data.contentful.action.action %}
                {% if a.sys.id == action.sys.id %}
                  <li class="convert-span">{{ a.description | markdownify }}{% for t in a.type %}<span class="icon-{{t}}">{{t}}</span>{% endfor %}</li>
                  
                  {% if a.sub_description %}
                    {{ a.sub_description | markdownify }}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </section>

      <section class="table examples-grid">
        <!-- examples-grid header -->
        <div class="row examples-grid__header fixed-section blueprint-example" style="max-width:62.5rem; margin:0">
          <div class="row examples-grid__header-row blueprint-example">
            <!-- header columns  -->
            <div class="column examples-grid-column examples-grid__header-cell dark-blue">Blueprint Strategies in Practice</div>
          </div>
        </div>
      </section>

      <section class="js-active-key slide-panel__wrapper--compact fixed-section-wrapper" style="margin-bottom:3rem">
        <div class="content-section">

          <!-- grid content -->
          {% for example in strategy.examples %}
          <div class="row examples-grid__content-row blueprint-example" style="max-width:62.5rem; margin:0">
            <!-- content columns  -->
              {% for e in site.data.contentful.example.example %}
                {% if e.sys.id == example.sys.id %}
                  <div class="column examples-grid-column examples-grid__content-cell light-green title" style="width:40%; max-width: 40%">
                    <div class="media-object" style="justify-content:left">
                      <div class="media-object-section">
                        <div class="thumbnail">
                          <img class="theme-img" alt="{{ e.state }} Outline Image" src={{ e.state_outline.url }} />
                        </div>
                      </div>
                      <div class="media-object-section main-section">
                        <h5 class="theme-link" style="margin: 0 0 1rem 0">{{ e.state | markdownify }}</h5>
                        {{ e.url | markdownify }}
                      </div>
                    </div>


                  </div>

                  <div class="column examples-grid-column examples-grid__content-cell light-green leading filterable" style="width:60%; max-width: 60%">
                    <!-- Leading issues -->
                    <div class="examples-wrapper leading-example">
                      <div class="row">
                        <div class="description example-description column large-12">
                          {{ e.description | markdownify }}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
          </div>
          {% endfor %}
        </div>
      </section>
    </div>
    {% endfor %}
    </div>
  </div>

    <div class="row align-center">
      <div class="column large-11 markdown">
    <h3 style="margin-bottom:0.5rem">What Could This Look Like Over Time?</h3>
    <h4 style="margin-top:0">{{ page.title }}</h4>
  </div></div>

    <section class="table examples-grid">
      <!-- examples-grid header -->
      <div class="row examples-grid__header fixed-section ">
        <div class="row examples-grid__header-row">
          <!-- header columns  -->
          <div class="column examples-grid-column examples-grid__header-cell title-criteria strategies-time-header dark-blue">Blueprint Strategies</div>
        </div>
      </div>
    </section>

    <section class="js-active-key slide-panel__wrapper--compact fixed-section-wrapper" style="margin-bottom:3rem">

      <div class="content-section">

        <!-- grid content -->

        {% for strategy in page.strategies %}
        <div class="row examples-grid__content-row time">
          <!-- content columns  -->
          <div class="column examples-grid-column examples-grid__content-cell title-strategies strategies-time-dark dark-blue">
            <div class="theme-link strategies-text" href="{{ url | relative_url }}">{{ strategy.title }}:{{ strategy.short_description | slice: 3, strategy.short_description.size | markdownify }}</div>
          </div>

          <div class="column examples-grid-column examples-grid__content-cell time-strategies strategies-time-light grey filterable">
            <div class="examples-wrapper leading-example">
              <div class="row">
                <div class="description column large-12">
                  <div class="column-header">Beginning</div>
                  {{ strategy.beginning_description | markdownify }}
                </div>
              </div>
            </div>
          </div>

          <div class="column examples-grid-column examples-grid__content-cell time-strategies strategies-time-light grey-2 filterable">
            <div class="examples-wrapper leading-example">
              <div class="row">
                <div class="description column large-12">
                  <div class="column-header">Building</div>
                  {{ strategy.building_description | markdownify }}
                </div>
              </div>
            </div>
          </div>

          <div class="column examples-grid-column examples-grid__content-cell time-strategies strategies-time-light grey-3 filterable">
            <div class="examples-wrapper leading-example">
              <div class="row">
                <div class="description column large-12">
                  <div class="column-header">Sustaining</div>
                  {{ strategy.sustaining_description | markdownify }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <div class="row align-center">
      <div class="column large-11 markdown">
    <h3 style="margin-bottom:0.5rem">Wins</h3>
    <p>By following the actions above and building over time, states should aim to achieve wins along the way to galvanize internal and external support. Here are some sample wins, though there are many other types of achievements that states could use to mark their progress.</p>
  </div></div>

  <section class="js-active-key slide-panel__wrapper--compact fixed-section-wrapper" style="margin-bottom:3rem">

      <div class="content-section">

        <!-- grid content -->

        <div class="row examples-grid__content-row criteria" style="max-width:62.5rem">
          <!-- content columns  -->

          <div class="column examples-grid-column examples-grid__content-cell wins grey filterable">
            <div class="examples-wrapper leading-example">
              <div class="row">
                <div class="description column large-12">
                  <div class="column-header">Short-term Wins</div>
                  {{ page.quick_wins | markdownify }}
                </div>
              </div>
            </div>
          </div>

          <div class="column examples-grid-column examples-grid__content-cell wins grey-2 filterable">
            <div class="examples-wrapper leading-example">
              <div class="row">
                <div class="description column large-12">
                  <div class="column-header">Mid-term Wins</div>
                  {{ page.mid_term_wins | markdownify }}
                </div>
              </div>
            </div>
          </div>

          <div class="column examples-grid-column examples-grid__content-cell wins grey-3 filterable">
            <div class="examples-wrapper leading-example">
              <div class="row">
                <div class="description column large-12">
                  <div class="column-header">Long-term Wins</div>
                  {{ page.long_term_wins | markdownify }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



  {% include mobile-index.html %}

  {% include buttons-theme.html %}

  <section class="section criteria__nav">
   <div class="row">
     <div class="column small-12 medium-6 large-6 criteria__nav--previous">
       {% unless currentOrder == 1%}
         {% assign previous_url = previousTheme[0].title | replace: "/", "0000" | slugify | remove: "0000" | append: '.html' | prepend: '/theme/' | relative_url %}
         <a href="{{previous_url}}" ><i class="material-icons">arrow_back</i>{{ previousTheme[0].title }}</a>
       {%endunless%}
     </div>
     <div class="column small-12 medium-6 large-6 criteria__nav--next">
       {% unless currentOrder == lastOrder %}
         {% assign next_url = nextTheme[0].title | replace: "/", "0000" | slugify | remove: "0000" | append: '.html' | prepend: '/theme/' | relative_url %}
         <a href="{{next_url}}">{{ nextTheme[0].title }}<i class="material-icons">arrow_forward</i></a>
       {%endunless%}
     </div>
   </div>
 </section>

</main>
