.examples-grid {
  margin: 0;
  .examples-grid__header {
    transition: opacity 0.1s ease;
    z-index: 3;
    max-width: 95rem;
    &.blueprint-example {
      @include breakpoint($small-only) {
        margin: 0;
      }
    }
  }
  .examples-grid__header.fixed {
    left: 50%;
    transform: translateX(-50%);
  }
  .examples-grid__header-row {
    color: #fff;
    margin: 0;
    width: 100%;
  }
  .examples-grid__filter-row {
    padding: 10px;
    background-color: lighten($dark-blue, 10);
    text-align: center;
    span {
      font-weight: 600;
      padding: 20px;
      text-transform: uppercase;
      @include breakpoint($small-only) {
        font-size: 0.65rem;
        padding: 10px;
      }
    }
    @include breakpoint($small-only) {
      font-size: 0.65rem;
      padding: 5px;
    }
  }
  .examples-grid__header-cell {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint($medium-only) {
      font-size: 1.2rem;
      padding: 15px;
    }
    @include breakpoint($small-only) {
      font-size: 0.65rem;
      padding: 5px 10px;
    }
  }
  .grey {
    background-color: #eff0f0;
    color: $dark-gray;
  }
  .dark-blue {
    background-color: $dark-blue;
  }
  .blue {
    background-color: #219cc4;
  }
}

.examples-grid-column {
  @include breakpoint($small-only) {
    padding: 0.5rem;
  }
  .theme-link {
    margin-bottom: 2rem;
    @include breakpoint($small-only) {
      margin-bottom: 0;
    }
  }
  &.themes,
  &.title-strategies, {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.themes,
  &.title-strategies,
  &.title-criteria {
    width: 20%;
    max-width: 20%;
    @include breakpoint($small-only) {
      width: 100%;
      max-width: 100%;
      flex: 1 1 100%;
    }
  }
  &.strategies,
  &.title-leading {
    // width: calc(80% / 2);
    // max-width: calc(80% / 2);
    width: 60%;
    max-width: 60%;
    @include breakpoint($small-only) {
      width: calc(100% / 2);
      max-width: calc(100% / 2);
    }
  }
  &.criteria,
  &.title-promising {
    // width: calc(80% / 2);
    // max-width: calc(80% / 2);
    width: 20%;
    max-width: 20%;
    @include breakpoint($small-only) {
      width: calc(100% / 2);
      max-width: calc(100% / 2);
    }
  }
  &.wins,
  &.time-strategies {
    @include breakpoint($small-only) {
      width: 100%;
      max-width: 100%;
      flex: 1 1 100%;
    }
  }
  &.modal-themes {
    justify-content: flex-start;
  }
}

// launch material icon in header and title column
a.external-link-container {
  &:hover {
    color: $blue;
    text-decoration: none;
    @extend .u-transition;
  }
  &:after {
    @extend .u-material-icons;
    content: 'launch';
    padding: 0 5px;
    font-size: 1.2rem;
    vertical-align: -3px;
    display: inline;
    @include breakpoint($small-only) {
      font-size: 0.8rem;
      vertical-align: -2px;
    }
  }
}
.external-link-container {
  a:after {
    @extend .u-material-icons;
    content: 'launch';
    padding: 0 5px;
    font-size: 1.2rem;
    vertical-align: -3px;
    display: inline;
    @include breakpoint($small-only) {
      font-size: 0.8rem;
      vertical-align: -2px;
    }
  }
}
a.internal-link-container {
  p {
    color: inherit;
  }
  &:hover {
    color: $blue;
    text-decoration: none;
    @extend .u-transition;
  }
}
.title-leading {
  .external-link-container {
    &:after {
      font-size: 1.3rem;
      @include breakpoint($small-only) {
        font-size: 0.8rem;
      }
    }
  }
}

// Content elements
.examples-grid__content-row {
  display: flex;
  width: 100%;
  max-width: 95rem;
  margin: 0 auto;
  .light-grey {
    background-color: #fafafa;
  }
  .grey {
    background-color: #e7ecf0;
  }
  .grey-2 {
    background-color: #dae2e8;
  }
  .grey-3 {
    background-color: #ced8e0;
  }
  .light-blue {
    background-color: #cae9f2;
  }
  .dark-blue {
    background-color: $dark-blue;
    color: #fff;
  }

  &.blueprint-example {
    @include breakpoint($small-only) {
      margin: 0;
    }
  }

  &.criteria {
    @for $i from 2 through 7 {
      &:nth-child(#{$i}) {
        .light-grey {
          background-color: darken(#fafafa, ($i - 1) * 3%);
        }
        .grey {
         background-color: darken(#e6ecf0, ($i - 1) * 3.5%); 
        }
        .light-blue {
          background-color: darken(#cce4eb, ($i - 1) * 3.5%);
        }
        .light-green {
          background-color: lighten(#d8f0df, ($i - 1) * 3%);
        }
      }
    }
  }
}

.examples-grid__content-cell {
  padding: 1rem;
  @include breakpoint($large) {
    padding: 3rem 2rem 2rem 2rem;
  }
  &.themes,
  &.title-strategies {
    .theme-link {
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 1.2;
      @include breakpoint($medium-only) {
        font-size: 1.2rem;
        padding: 1rem;
      }
      @include breakpoint($small-only) {
        font-size: 1rem;
        padding: 0.5rem;
      }
    }
    position: relative;
    .external-link-container {
      font-size: 1.3rem;
      font-weight: 600;
    }
    .strategies-text > p {
      color: #fff;
      font-weight: 400;
    }
  }
  &.strategies {
    position: relative;
  }
  &.wins {
    li {
      padding-bottom: 1rem;
    }
  }
  &.criteria {
    a {
      color: #333;
      @include breakpoint($small-only) {
        font-size: 0.8rem;
      }
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
  .tooltip {
    &:before {
      content: '';
      border-bottom: 15px solid transparent;
      border-right: 15px solid #404040;
      border-top: 15px solid transparent;
      height: 0;
      left: -15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
    }
    background: #404040;
    color: white;
    cursor: auto;
    display: none;
    left: 95%;
    max-width: 320px;
    min-width: 320px;
    opacity: 0;
    padding: 15px;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease-in-out;
    transform: translateY(-50%);
    visibility: hidden;
    width: 100%;
    z-index: 2;
    @include breakpoint($medium-only) {
      display: none !important;
    }
    @include breakpoint($small-only) {
      display: none !important;
    }
  }
  &.filterable {
    &--empty {
      display: flex;
      justify-content: center;
      align-items: center;
      &:after {
        content: '--';
        font-size: 3.9rem;
        font-weight: 700;
        line-height: 1;
      }
      &.leading {
        color: $primary-green;
      }
      &.promising {
        color: $primary-orange;
      }
    }
  }
}

.examples-wrapper {
 
  .row {
    // fixes ie medium and small display;
    @include breakpoint($medium-only) {
      display: block;
    }
    @include breakpoint($small-only) {
      display: block;
    }
  }
  &.leading-example {
    display: block;
    @include breakpoint($small-only) {
      flex-direction: column;
    }
    @include breakpoint($medium-only) {
      flex-direction: column;
    }
    .description {
      font-size: 1.06rem;
      padding-bottom: 15px;
      @include breakpoint($small-only) {
        font-size: .8rem;
      }
      a, p {
        @include breakpoint($small-only) {
          font-size: .8rem;
        }
      }
      p:first-child {
        padding-top: 0;
        margin-top: 0;
      }
      .read-link {
        color: #f77c50;
        font-weight: 500;
        font-size: 1.1rem;
        @include breakpoint($small-only) {
          font-size: .8rem;
        }
      }
      .column-header {
        text-transform: uppercase;
        font-weight: 600;
        color: $dark-blue;
      }
    }
    .learn-more {
      color: $primary-green;
      font-size: 1.1rem;
      font-weight: bold;
      text-transform: uppercase;
      @include breakpoint($medium-only) {
        display: none;
      }
      @include breakpoint($small-only) {
        display: none;
      }
    }
    @include breakpoint($medium-only) {
      display: flex;
      justify-content: center;
      .link.row {
        @include breakpoint($small-only) {
          text-align: center;
        }
        @include breakpoint($medium-only) {
          text-align: center;
        }
        .issues-container {
          display: flex;
          position: relative;
          top: 6px;
          @include breakpoint($medium-only) {
            .issue--leading::before {
              font-size: 1.3rem;
            }
            top: 0;
            @include breakpoint($medium-only) {
              display: inline-block;
              // width: 50%;
            }
          }
          @include breakpoint($small-only) {
            display: inline-block;
            max-width: 75%;
            text-align: initial;
            .issue--leading::before {
              font-size: 1rem;
            }
            top: 0;
          }
        }
      }
    }
  }
  .leading__state {
    color: $primary-green;
    font-size: 3.9rem;
    font-weight: bold;
    line-height: 1;
    position: relative;
    text-align: left;
    @include breakpoint($medium-only) {
      text-align: center;
    }
    @include breakpoint($small-only) {
      font-size: 2.8rem;
      line-height: 1;
    }
  }
  &.promising-example {
    display: inline-block;
    @include breakpoint($small-only) {
      // width: 100%;
    }
    .promising__state {
      background-color: $primary-orange;
      border-radius: 10px;
      color: white;
      display: inline-block;
      font-size: 0.8rem;
      font-weight: bold;
      margin: auto 10px 10px auto;
      padding: 7px 10px 7px 10px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        background-color: darken($primary-orange, 12);
        @extend .u-transition;
      }
      @include breakpoint($small-only) {
        border-radius: 5px;
        // padding: 5px 6px 5px 6px;
        // margin: 0;
      }
      .state__issues {
        color: darken($primary-orange, 30);
        padding-left: 5px;
        @include breakpoint($small-only) {
          padding: 0;
        }
        .state__title {
          display: none;
          @include breakpoint($large) {
            display: inline-block;
          }
        }
        .state__abbreviation {
          color: #fff;
          display: inline-block;
          @include breakpoint($large) {
            display: none !important;
          }
        }
      }
    }
  }
}

.convert-span {
  p {
    display: inline;
  }
}

.flex-column {
  flex-direction: column;
}