.media-object {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: nowrap;
}

.media-object-section {
  flex: 0 1 auto;

  &:first-child {
    padding-right: 1rem;
  }

  &:last-child:not(:nth-child(2)) {
    padding-left: 1rem;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.thumbnail {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  line-height: 0;
}