.icon-Infrastructure {
  color: #3db6ba;
  font-size: 0.8rem;
  font-weight: 600;
  background: url('/rfa-blueprint-2020/images/Infrastructure.png') right center no-repeat;
  background-size: 20px auto;
  background-position-x: 100px;
  padding-left: 10px;
  padding-right: 30px;
}

.icon-People {
  color: #c65f9c;
  font-size: 0.8rem;
  font-weight: 600;
  background: url('/rfa-blueprint-2020/images/People.png') right center no-repeat;
  background-size: 20px auto;
  background-position-x: 55px;
  padding-left: 10px;
  padding-right: 30px;
}

.icon-Policy {
  color: #9382c8;
  font-size: 0.8rem;
  font-weight: 600;
  background: url('/rfa-blueprint-2020/images/Policies.png') right center no-repeat;
  background-size: 20px auto;
  background-position-x: 50px;
  padding-left: 10px;
  padding-right: 30px;
}