.icon-Infrastructure {
  color: #3db6ba;
  font-size: 0.8rem;
  font-weight: 600;
  background: url('/images/Infrastructure.png') center no-repeat;
  background-size: 20px auto;
  background-position-x: 10px;
  padding-left: 35px;
}

.icon-People {
  color: #c65f9c;
  font-size: 0.8rem;
  font-weight: 600;
  background: url('/images/People.png') center no-repeat;
  background-size: 20px auto;
  background-position-x: 10px;
  padding-left: 35px;
}

.icon-Policy {
  color: #9382c8;
  font-size: 0.8rem;
  font-weight: 600;
  background: url('/images/Policies.png') center no-repeat;
  background-size: 20px auto;
  background-position-x: 10px;
  padding-left: 35px;
}

.top-theme-arrow {
  color: $font-dark-gray;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;

  @include breakpoint($small-only) {
    font-size: 0.8rem;
  }

  &:hover {
    color: $blue;
  }
}

.example-description {
  p {
    padding-bottom: 0;
  }
}

.strategies-time-header {
  border-bottom: 4px dotted white;
  line-height: 1.2;
}

.content-section {
  .row:not(:last-child) {
    .strategies-time-dark {
      border-bottom: 4px dotted white;
    }

    .strategies-time-light {
      border-bottom: 4px dotted $dark-blue;
    }
  }
  @include breakpoint($small-only) {
    .row {
      .strategies-time-dark {
        border-bottom: 4px dotted white;
      }

      .strategies-time-light {
        border-bottom: 4px dotted $dark-blue;
      }
    }
  }
  .strategies-time-light li, .wins li {
    line-height: 1.5;
    a {
      color: $hyperlink-orange;
    }
  }
}