<button class="accordion"><h5>Blueprint for Delivering Results in State in Governments</h5><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
<div class="panel">
  <p>The Blueprint contains Strategies -- and specific accompanying Actions -- that provide a practical way for state governments to more effectively achieve results by increasing their evidence and data capacity. However, it is worth noting that this capacity building is an iterative process and that each state’s process will not necessarily be linear. As such, to help state leaders identify the necessary resources for each Action, the Blueprint denotes which of the following common levers is associated with the implementation of the Action:</p>
  <div class="media-object" style="justify-content:left">
    <div class="media-object-section">
      <div class="thumbnail">
        <img class="accordion-lever" alt="People" src="{{'/images/People.png' | relative_url }}" />
      </div>
    </div>
    <div class="media-object-section main-section">
      <h5>People</h5>
    </div>
  </div>
  <p>People are the backbone of state government. To effectively invest in what works, state governments need both strong leadership (with the right talent in the right positions) and broad adoption of data and evidence by staff at all levels. By building capacity from leadership to frontline staff, state governments can create a true evidence-based culture that achieves better results.</p>

   <div class="media-object" style="justify-content:left">
    <div class="media-object-section">
      <div class="thumbnail">
        <img class="accordion-lever" alt="Policies" src="{{'/images/Policies.png' | relative_url}}" />
      </div>
    </div>
    <div class="media-object-section main-section">
      <h5>Policy</h5>
    </div>
  </div>
  <p>Policy drives action in state government. In order to execute activities consistently and effectively, state governments need clear policies that are appropriately communicated across stakeholder communities. Clear policies on data and evidence can align people around common goals and precipitate the appropriate infrastructure needed to support progress.</p>

   <div class="media-object" style="justify-content:left">
    <div class="media-object-section">
      <div class="thumbnail">
        <img class="accordion-lever" alt="Infrastructure" src="{{'/images/Infrastructure.png' | relative_url}}" />
      </div>
    </div>
    <div class="media-object-section main-section">
      <h5>Infrastructure</h5>
    </div>
  </div>
  <p>Appropriate systems, structures, and tools allow state government employees to fully carry out their responsibilities. Infrastructure can be key for increasing and sustaining evidence-based policy capacity through means such as data systems, governance structures, and evaluation tools.</p>
</div>

<button class="accordion"><h5>Blueprint Development</h5><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
<div class="panel">
  <p>The Blueprint was developed with the assistance of senior staff from a bipartisan group of governors offices as part of the <a href="https://results4america.org/what-works-bootcamps/">What Works Bootcamps</a> training series hosted by Results for America and the National Governors Association to help advance evidence-based policymaking in state governments. Through a series of in-depth, facilitated learning sessions in 2019 and 2020, senior staff from more than a dozen governors offices contributed their expertise to developing this Blueprint. As such, this Blueprint is a practical guide that reflects the collective experience of many of the country’s most effective state government leaders.</p>
</div>

<button class="accordion"><h5>Examples of Prioritizing Evidence of Effectiveness in Government Grant Programs</h5><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
<div class="panel">
  <p>This table provides specific examples of how governments have prioritized evidence of effectiveness in their grantmaking decisions. Using evidence of effectiveness means shifting taxpayer dollars to programs that have been proven to be effective through strong evaluations or based on their past performance. </p>

  <p>Of note, the term “grant programs” as used below includes all types of government spending on human services programs, including grants, contracts, cooperative agreements, and other programmatic expenditures.
  </p>
</div>
