{% assign theme = site.data.contentful.theme.theme |  where: "year", site.content_year %}


<section class="table examples-grid">
  <!-- examples-grid header -->
  <div class="row examples-grid__header fixed-section ">
    <div class="row examples-grid__header-row">
      <!-- header columns  -->
      <div class="column examples-grid-column examples-grid__header-cell title-criteria grey">Blueprint Themes</div>
      <div class="column examples-grid-column examples-grid__header-cell title-leading dark-blue">Strategies</div>
      <div class="column examples-grid-column examples-grid__header-cell title-promising blue">Related State Standard Criteria</div>
    </div>
  </div>
</section>

<section class="js-active-key slide-panel__wrapper--compact fixed-section-wrapper">


  <div class="content-section">

    <!-- grid content -->
    {% for item in theme %}
    {% assign title = item.title | replace: "/", "0000" | slugify | remove: "0000" %}
    {% assign url = "/theme/" | append: title | append: ".html" %}

    <div class="row examples-grid__content-row criteria">
      <!-- content columns  -->
      <div class="column examples-grid-column examples-grid__content-cell themes light-grey text-center" onclick="window.location='{{ url | relative_url }}';">
        <a class="theme-link" href="{{ url | relative_url }}">{{ item.title }}
          <img class="theme-img" alt="Roadmap" src={{item.icon.url}} />
        </a>
      </div>

      <div class="column examples-grid-column examples-grid__content-cell strategies grey filterable">
        <div class="examples-wrapper leading-example">
          <div class="row">
            <div class="description column large-12">
              {% for strategy in item.strategies %}
                <a href="{{url | relative_url}}#{{strategy.title | remove: " "}}">{{ strategy.short_description | markdownify }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="column examples-grid-column examples-grid__content-cell criteria light-blue filterable">
        <div class="examples-wrapper promising-example">
          <div class="description column large-12">
            {{ item.related_criteria | markdownify }}
          </div>
        </div>
      </div>
    </div>
    
    {% endfor %}
  </div>
</section>
