---
layout: default
title: 2020 Results for America Blueprint
description:
seo_image_path: #'/images/media/filename.jpg'
---

{% assign index = site.data.contentful.indexPage.indexPage | where: "year", site.content_year %}
{% assign co = site.data.contentful.coloradoLeadingExample.coloradoLeadingExample %}
{% for page in index %}
<main role="main" id="index">
  <section class="top-section">
    <div class="row align-center">
      <div class="column large-8 medium-8 small-12">
        <h2>Blueprint Overview</h2>
      </div>
    </div>

    <div class="expandable">
      <div class="row align-center">
        <div class="column large-11 medium-12 small-12 markdown">
          {{ page.overview | markdownify }}
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail">
                <img class="overview-img" alt="Roadmap" src={{page.roadmap_image.url}} />
              </div>
            </div>
            <div class="media-object-section main-section">
              {{ page.roadmap | markdownify }}
            </div>
          </div>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail">
                <img class="overview-img" alt="Roadmap" src={{page.capacity_image.url}} />
              </div>
            </div>
            <div class="media-object-section main-section">
              {{ page.capacity | markdownify }}
            </div>
          </div>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail">
                <img class="overview-img" alt="Roadmap" src={{page.investments_image.url}} />
              </div>
            </div>
            <div class="media-object-section main-section">
              {{ page.investments | markdownify }}
            </div>
          </div>
          {{ page.overview2 | markdownify }}
        </div>
      </div>

      <div class="row align-center">
        <div class="column large-11 read-more-wrapper">
          <button class="read-more" aria-label="Read More Toggle"></button>
        </div>
      </div>
    </div>
  </section>

  {% include table.html %}
  {% for c in co %}
      <div class="row align-center">
        <div class="column large-11 medium-12 small-12 markdown">
          <h3>Where the Rubber Meets the Road:<br>
          Investing for Results Matters</h3>
          {{ c.description | markdownify }}
        </div>
      </div>
  {% endfor %}

  <div class="row align-center" style="margin-bottom:3rem">
  <div class="column large-11 medium-12 small-12 markdown text-center">
   <a class="button colorado-button js-open-modal">See How Colorado Implemented Blueprint Strategies<i
          class="material-icons ">arrow_forward</i></a>
    {% include colorado-modal.html %}
  </div>
  </div>

  <div class="accordion-row row align-center">
    <div class="column large-12 markdown">
    {% include accordion-temp.html %}
  </div></div>

      <div class="row align-center">
        <div class="column large-11 medium-12 small-12 markdown">
          <h3>Further Information</h3>
          {{ page.further_information | markdownify }}
        </div>
      </div>

      {% include buttons.html %}
</main>
{% endfor %}
